<div class="content">
  <div class="button">
    <a routerLink="/task" routerLinkActive="active">Task</a>
    <a routerLink="/catalog" routerLinkActive="active">Catalog</a>

    <button (click)="toggleForm()" mat-raised-button color="primary">
      Создать задачу
    </button>
  </div>
</div>


<div class="example-container">
  <div class="form-container">
    <div *ngIf="showForm">
      <form [formGroup]="taskForm" (submit)="submit()">

        <mat-form-field class="form-field">
          <mat-label>Название</mat-label>
          <input matInput formControlName="header" required>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Заголовок</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput formControlName="deadline" required [matDatepicker]="myDatepicker"
                 placeholder="Выберите дату">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Приоритет</mat-label>
          <mat-select formControlName="priority" required>
            <mat-option value="High">High</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="Low">Low</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Статус</mat-label>
          <mat-select formControlName="progress" required>
            <mat-option value="В очереди">В очереди</mat-option>
            <mat-option value="В работе">В работе</mat-option>
            <mat-option value="Заблокировано">Заблокировано</mat-option>
            <mat-option value="На проверке">На проверке</mat-option>
            <mat-option value="Завершено">Завершено</mat-option>
            <mat-option value="На паузе">На паузе</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Исполнители</mat-label>
          <input matInput formControlName="users">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>
