<mat-form-field>
  <mat-label>Фильтр</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Введите текст" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="header">
      <th mat-header-cell *matHeaderCellDef>Заголовок</th>
      <td mat-cell *matCellDef="let row"> {{ row.header }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let row"> {{ row.title }}</td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Дедлайн</th>
      <td mat-cell *matCellDef="let row"> {{ row.deadline | date :'fullDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Приоритет</th>
      <td mat-cell *matCellDef="let row"> {{ row.priority }}</td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Статус</th>
      <td mat-cell *matCellDef="let row">

        <mat-select [(value)]="row.progress" (selectionChange)="onStatusChange($event, row.id)">
          <mat-option value="В очереди">
            В очереди
          </mat-option>
          <mat-option value="В работе">В работе</mat-option>
          <mat-option value="Заблокировано">Заблокировано</mat-option>
          <mat-option value="На проверке">На проверке</mat-option>
          <mat-option value="Завершено">Завершено</mat-option>
          <mat-option value="На паузе">На паузе</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Исполнители</th>
      <td mat-cell *matCellDef="let row">
        <mat-select multiple [(value)]="row.users" (selectionChange)="onUsersChange($event, row.id)">
          <mat-option
            *ngFor="let user of usersList" [value]="user">{{ user }}
          </mat-option>
        </mat-select>
      </td>

    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Действия</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/task/{{ row.id }}">
          <button class="form-field" mat-raised-button color="warn">
            Подробнее
          </button>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Нет данных "{{ input.value }}"</td>
    </tr>
  </table>

</div>

