.task {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  margin: 0 0.6em;
  padding: 1rem;

  .task-prop-header {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  .task-prop-value {
    margin-bottom: 1em;
  }
}

@media (max-width: 425px) {
  .task {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

    .task-prop-header {
      font-size: 1.5rem;
      margin-bottom: 1em;
      padding-right: 2em;
    }
  }
}
