<div class="close-btn" matDialogClose>
  <img ngSrc="assets/close.png" alt="close-btn" height="32" width="32">
</div>

<form id="f" [formGroup]="taskForm" (submit)="onSubmit()">
  <mat-form-field class="form-field">
    <mat-label>Заголовок</mat-label>
    <input type="text" matInput formControlName="title" required>
      <mat-error>{{ errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Название</mat-label>
    <input type="text" matInput formControlName="header" required>
    <mat-error>{{ errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input
      type="text"
      matInput
      formControlName="deadline"
      required [matDatepicker]="myDatepicker"
      [min]="minDate" [max]="maxDate"
      placeholder="dd.mm.yyyy"
    >
    <mat-error>{{ errorMessage }}</mat-error>
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Приоритет</mat-label>
    <mat-select formControlName="priority" required>
      <mat-option value="High">High</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="Low">Low</mat-option>
    </mat-select>
    <mat-error>{{ errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Статус</mat-label>
    <mat-select formControlName="progress" required>
      @for (progress of progressList; track progress) {
        <mat-option [value]="progress">{{ progress }}</mat-option>
      }
    </mat-select>
    <mat-error>{{ errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Исполнители</mat-label>
    <mat-select formControlName="users" multiple required>
      @for (user of usersList; track user) {
        <mat-option [value]="user">{{ user }}</mat-option>
      }
    </mat-select>
    <mat-error>{{ errorMessage }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Создать</button>
</form>
