:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 38px;
  padding: 0 10px 0 10px;
}

.example-container{
  text-align: center
}

.form-field{
  display: block;
}

.close-btn img {
  position: absolute;
  right: 5px;
  top: 5px;
}
