:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 2.5em;
  padding: 1rem;

  .form-field {
    display: block;
  }

  .close-btn img {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
  }
}
